.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @include media-breakpoint-up(md) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.page-hero {
    .page-hero-content {
        min-height: 336px;
        h1,
        h2,
        p {
            color: $white;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        }
    }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {}